<div class="container">
	<!-- <h2>Create Document</h2> -->
	<h2>Create Document</h2>
	<p *ngIf="this.errorResponse">There was an error submitting request. Please try again later.</p>
	<form [formGroup]="createDocumentForm" (ngSubmit)="onCreateSubmit()" >
		<mat-form-field [formGroup]="createDocumentForm" appearance="outline">
			<mat-label>Filename</mat-label>
			<input matInput placeholder="Ex: ThisIsMyFileName" formControlName="documentName" required>
			<mat-error *ngIf="this.createDocumentForm.valid">Only use letters, numbers, dashes, and underscores.</mat-error>
		</mat-form-field>

		<mat-form-field [formGroup]="createDocumentForm" appearance="outline">
			<mat-label>File type</mat-label>
			<mat-select formControlName="documentType" required>
				<mat-option value="java">Java</mat-option>
				<mat-option value="ts">Typescript</mat-option>
				<mat-option value="c">C</mat-option>
				<mat-option value="cpp">C++</mat-option>
				<mat-option value="py">Python</mat-option>
				<mat-option value="html">HTML</mat-option>
				<mat-option value="css">CSS</mat-option>
				<mat-option value="js">Javascript</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field [formGroup]="createDocumentForm" appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput placeholder="Ex: password123" formControlName="documentPassword" required>
			<mat-error *ngIf="this.createDocumentForm.valid">Enter a password.</mat-error>
		</mat-form-field>
		
		<div class="submit-button">
			<button type="submit" [disabled]="!createDocumentForm.valid || awaitingCreateResponse">
				<mat-icon>add</mat-icon><p>Submit</p>
			</button>
		</div>
	</form>
</div>