form {
	display: flex;
	flex-direction: column;
}

.container {
	flex-direction: column;
	display: flex;
  	align-items: center;
  	justify-content: center;
	color: white;
}

.submit-button {
	padding-right: 0px;
}

p {
	color: red;
}

button p {
	color: var(--text-white);
	padding-top: 10px;
}

button {
	margin-top: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
	width: 100%;
}