form {
	display: flex;
	flex-direction: column;
}

.container {
	flex-direction: column;
	display: flex;
  	align-items: center;
  	justify-content: center;
	color: white;
}

.submit-button {
	padding-right: 20px;
}

p {
	color: red;
}