.widgetDownload{
	display: flex;
    background-color: grey;
	flex-direction: row;
    padding: 10%;
    width: 20%;
    height: 10%
}
.widgetCollaborator{
	display: flex;
    background-color: grey;
	flex-direction: row;
    padding: 10%;
    width: 10%;
    height: 20%
}

.documentInformationEntry {
	display: flex;
    background-color: white;
	flex-direction: row;
    width: 10%;
    height:10%
}