.editor {
    min-width: 100%;
    width: 100%;
	min-height: 80vh; 
}

button {
    width: 170px;
    float: left;
    margin-right: 10px;
}
.button-bar {
    width: 100%;
    padding-bottom: 65px;
    padding-top: 10px
    /* display: flex;
    flex-direction: row; */
}

.container {
    background-color: #0D0D0D;
    padding: 20px;
}

h1 {
    padding-top: 15px;
    float: right;
}

@media (max-width: 550px) {
    button {
        width: 100px;
        height: 40px;
    }

    mat-icon {
        display: none;
    }
}

button p {
    color: var(--text-white);
}

p {
    color: red;
}