form {
	display: flex;
	flex-direction: column;

	width: 200px;
}

.container {
	display: flex;
  	align-items: center;
  	justify-content: center;
	padding-top: 100px;
	color: var(--text-white);
}

.button-container button {
	margin-top: 5px;
	width: 50%;
}

.button-container {
	display: flex;
  	justify-content: center;
}

.wrapper {
	background-color: var(--less-dark);
	min-height: 83%;
}

.action {
	padding-top: 30px;
}

.end {
	padding-bottom: 30px;
}




