.body{
	display: flex;
	flex-wrap: wrap;
}
.toolbar {
    position: fixed;
	background: #000000;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
    position: -webkit-sticky; /* For macOS/iOS Safari */
	color: #c9c9c9;
    top: 0px; /* Sets the sticky toolbar to be on top */
    z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}

.bar-text {
	margin-left: auto;
	margin-right: auto;
}

.icon-buttons {
	align-content: right;
}