<mat-toolbar class="toolbar">
	<div class="container">
		<div class="logo">
			<!-- <span><b>Project Monaco</b><small class="author-tag">by Stephen George</small></span> -->
			<!-- <img src="/assets/project-monaco-transparent.png" alt="Project Monaco logo" width="160px" height="40px"> -->
			<img src="/assets/project-monaco-transparent.png" alt="Project Monaco logo" width="240px" height="60px">
		</div>
		<!-- <input id="menu-toggle" type="checkbox" />
		<label class='menu-button-container' for="menu-toggle">
		<div class='menu-button'></div>
		</label> -->
		<ul class="menu">
			<li><a routerLink="">Home</a></li>
			<li><a routerLink="how-it-works">How It Works</a></li>
			<li><a href="https://github.com/stephengeorge568" target="_blank">Github</a></li>
		</ul>
	</div>		
	<!-- <div class="child">
		<button class="github-icon" mat-icon-button aria-label="My Github Page" (click)="goToPersonalGithub()">
			<mat-icon svgIcon="github"></mat-icon>
		</button>
		</div>
	</div> -->
</mat-toolbar>
