.container {
	min-height: 83%;
	background-color: var(--less-dark);
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	color: var(--text-white);
}

.columns {
	display: flex;
	flex-direction: column;
}

h1 {
	align-self: center;
}

img {
	height: 421px;
	width: 551px;
	align-self: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

@media (max-width: 620px) {
	img {
		height: 253px;
		width: 331px;
	}
}

p {
	max-width: 900px;
	align-self: center;
	font-size: 18px;
}