<div class="container">
	<div class="columns">
	<h1>How It Works</h1>
	<p>The difficulty in creating a collaborative text editting software system is caused by the latency between clients. Because of the time it takes for a user's change to the document model to propogate to other clients, conflicts can arise and the clients will fall out of sync. This issue is best illustrated with a simple example:</p>
	<img src="/assets/OT-latency-explained.png" alt="OT latency issue explained image could not be shown at this time.">
	</div>
</div>
