.container {
	display: flex;
  	align-items: center;
  	justify-content: center;
	color: white;
	// background-color: var(--baby-blue);
	flex-direction: column;
}

p {
	color: red;
}

button {
	margin-top: 3px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}

button p {
	color: var(--text-white);
	padding-top: 10px;
}


.button-container button {
	border-radius: 0;
}

.button-container {
	display: flex;
  	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
}

h2 {
	float: left;
}

mat-icon {
	transform: scale(0.75);
}

