<p *ngIf="this.documentMetadata != undefined && isDocumentFound">{{this.documentMetadata.filename}}</p>
<div class="container" *ngIf="!isDocumentAuthenticated">
	<form [formGroup]="documentForm" (ngSubmit)="authenticate()" >
		<label for="id">Document Id: </label>
 	    <input id="id" type="text" [defaultValue]="this.documentId" readonly>
		<label for="password">Document Password: </label>
 	    <input id="password" type="text" formControlName="documentPassword">
		<div class="button-container">
			<button type="submit" [disabled]="!documentForm.valid">Submit</button>
		</div>
	</form>
</div>
<div class="editor-wrapper" *ngIf="isDocumentAuthenticated">
	<app-editor [documentId]="documentId" [documentPassword]="documentPassword"></app-editor>
</div>




